.container {
  height: 100vh;
  width: 100%;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  .flex {
    display: flex !important;
    align-items: center;
  }

  .scroll {
    bottom: 10px;
    position: absolute;
    width: 100px;
    left: 45vw;
  }

  .scroll::before {
    animation: bounce 1s ease infinite;
    bottom: 2rem;
    color: rgb(15, 15, 15);
    content: "╲╱";
    font-size: 2rem;
    height: 4rem;
    left: 50%;
    letter-spacing: -1px;
    line-height: 4rem;
    margin-left: -3rem;
    opacity: 0.8;
    position: absolute;
    text-align: center;
    width: 6rem;
  }

  @keyframes bounce {
    50% {
      transform: translateY(-50%);
    }
  }

  .text-container {
    width: 50%;
    height: 100%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-x: hidden;

    .text {
      padding: 1em 5em;
      p {
        font-size: 5em;
        font-weight: 600;
        margin: 0;
        padding: 0;
        line-height: 0.7em;
      }
      .name {
        font-size: 5em;
        font-weight: 600;
        margin: 0;
      }
      .color {
        color: #4f05ff; //#00b8f0;
      }
      .additional {
        font-size: 2em;
        color: rgb(32, 32, 32);
        line-height: 1em;
        padding-left: 5px;
      }
    }

    .button {
      margin-top: 2em;
      padding: 0 5.3em;
    }
  }

  .image {
    width: 50%;
    height: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .purple {
    // position: absolute;
    // top: 55vh;
    // left: -50px;
    // width: 45%;
    z-index: -1;
    filter: blur(150px) brightness(1.5);
    overflow: hidden;
    position:absolute;
    top:30%;
    left:40%;
    width:0;
    padding:0;
    animation: explodePurple 1s forwards;
  }
  .blue {
    // position: absolute;
    // z-index: -1;
    // top: -150px;
    // right: -10px;
    // filter: blur(120px) brightness(1.2);
    // width: 45%;
    // overflow: hidden;
    z-index: -1;
    filter: blur(120px) brightness(1.2);
    overflow: hidden;
    position:absolute;
    top:30%;
    right:40%;
    width:0;
    padding:0;
    animation: explodeBlue 1s forwards;
  }
  .red {
    // position: absolute;
    // z-index: -1;
    // top: 55vh;
    // right: 0px;
    // filter: blur(150px) brightness(1.5);
    // width: 40%;
    // overflow: hidden;
    z-index: -1;
    filter: blur(150px) brightness(1.5);
    overflow: hidden;
    position:absolute;
    top:30%;
    right:40%;
    width:0;
    padding:0;
    animation: explodeRed 1s forwards;
  }
  .orange {
    // position: absolute;
    // z-index: -2;
    // top: -220px;
    // left: -100px;
    // filter: blur(170px);
    // width: 40%;
    // overflow: hidden;
    z-index: -2;
    filter: blur(170px);
    overflow: hidden;
    position:absolute;
    top:30%;
    left:40%;
    width:0;
    padding:0;
    animation: explodeOrange 1s forwards;
  }
  .grey {
    position: absolute;
    z-index: -3;
    top: 25%;
    left: 35%;
    filter: blur(120px) brightness(1.2);
    width: 40%;
    overflow: hidden;
  }

  @keyframes explodePurple {
    0% {
        width:40%
     }
    100%{
        width:45%;
        top: 55vh;
        left: -50px;
        padding:5px;
     }
  }

  @keyframes explodeBlue {
    0% {
        width:40%
     }
    100%{
        width:45%;
        top: -150px;
        right: -10px;
        padding:5px;
     }
  }

  @keyframes explodeRed {
    0% {
        width:40%
     }
    100%{
        width: 40%;
        top: 55vh;
        right: 0px;
        padding:5px;
     }
  }

  @keyframes explodeOrange {
    0% {
        width:40%
     }
    100%{
        width: 40%;
        top: -220px;
        left: -100px;
        padding:5px;
     }
  }


  @media screen and (max-width: 960px) {
    .purple {
      position: absolute;
      z-index: -1;
      top: 60vh;
      left: -10%;
      filter: blur(120px);
      width: 70%;
      animation: none;
      overflow: hidden;
    }
    .blue {
      position: absolute;
      z-index: -1;
      top: 0;
      left: 35%;
      filter: blur(120px);
      width: 60%;
      animation: none;
      overflow: hidden;
    }
    .red {
      position: absolute;
      z-index: -1;
      top: 60vh;
      left: 35%;
      filter: blur(120px);
      width: 60%;
      animation: none;
      overflow: hidden;
    }
    .orange {
      position: absolute;
      z-index: -2;
      top: 0;
      left: 0;
      filter: blur(120px);
      width: 60%;
      animation: none;
      overflow: hidden;
    }
    .grey {
      position: absolute;
      z-index: -3;
      top: 25%;
      left: 20%;
      filter: blur(100px);
      width: 60%;
      overflow: hidden;
    }
    .image {
      display: none;
    }
    .text-container {
      width: 100%;
    }
  }

  @media screen and (max-width: 650px) {
    .text-container {
      width: 100%;
      .text {
        padding: 0 3em;
        p {
          font-size: 5em;
        }
        .name {
          font-size: 5em;
        }
        .additional {
          font-size: 2em;
          padding-left: 1px;
        }
      }
      .button {
        padding: 1em 3em;
        // width: 60%;
      }
    }

    .image {
      display: none;
    }
  }

  @media screen and (max-width: 500px) {
    .scroll {
      left: 37vw;
    }

    .text-container {
      .text {
        padding: 0 1em;
        p {
          font-size: 3.2em;
        }
        .name {
          font-size: 3.2em;
        }
        .additional {
          font-size: 1.5em;
        }
      }
      .button {
        padding: 1em 1em;
        // width: 60%;
      }
    }
  }
}
