$height: 100px;

.navbar {
  width: 100%;
  // backdrop-filter: blur(20px);
  filter: none !important;
  height: $height;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: fixed;
  z-index: 999;
  transition: top 0.1s;
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: $height;
  width: 100%;
  padding: 10px 70px;
}

.navbar-logo {
  flex: 1;
  color: #fff;
  justify-self: start;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;

  .img {
    height: 70px;
    width: 70px;
  }
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-column-gap: 10px;
  list-style: none;
  text-align: center;
  // width: 40%;
  // height: 100%;
  //   justify-content: end;
  align-items: center;
  // justify-content: center;
  margin-block-start: 0 !important;
  margin-block-end: 0 !important;
  margin-inline-start: 0 !important;
  margin-inline-end: 0 !important;
  padding-inline-start: 0 !important;
}

.nav-item {
  //   height: $height;
  padding-top: 15px;
}

.nav-links {
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  font-size: 1.2rem !important;
  height: 100%;
}

.nav-links:hover {
  border-bottom: 4px solid rgb(37, 37, 37);
  transition: all 0.2s ease-out;
}

.fa-bars {
  color: rgb(3, 3, 3);
}

.nav-links-mobile {
  display: none;
}

.nav-links-mobile-theme {
  display: none;
}

.nav-links-mobile-dark {
  display: none;
}

.nav-button {
  margin-top: 10px !important;
  margin-left: 20px !important;
  font-size: 1.2rem !important;
  text-transform: none !important;
  font-weight: 500 !important;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;
  }

  .navbar-container {
    padding: 0 25px;
  }

  .nav-item {
    padding-top: 0px;
    width: 100%;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 100px;
    left: -120%;
    opacity: 1;
    transition: all 0.5s ease;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
  }

  .nav-menu.active {
    background: #ffffff;
    // backdrop-filter: blur(30px);
    left: 0;
    top: 100px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
    padding-inline-start: 0px !important;
  }

  .nav-menu.active-dark {
    background: #0c0c0c;
    // backdrop-filter: blur(30px);
    left: 0;
    top: 100px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
    padding-inline-start: 0px !important;
  }

  .nav-links {
    text-align: center;
    margin: 2rem 0;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0;
  }

  .nav-links:hover {
    border-bottom: none;
    background-color: rgba(89, 166, 253, 0.205);
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 25%);
    // margin-top: 10px;
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 15px;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.4rem;
    cursor: pointer;
  }

  .fa-times {
    color: rgb(7, 7, 7);
    font-size: 2rem;
  }

  .menu-button {
    width: 100%;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    margin: 1em auto;
    border-radius: 4px;
    width: 80%;
    text-decoration: none;
    font-size: 1.4rem;
    background-color: transparent;
    color: rgb(0, 0, 0);
    padding: 15px 20px;
    border: 1px solid rgb(0, 0, 0);
    transition: all 0.3s ease-out;
  }

  .nav-links-mobile-dark {
    display: block;
    text-align: center;
    margin: 1em auto;
    border-radius: 4px;
    width: 80%;
    text-decoration: none;
    font-size: 1.4rem;
    background-color: transparent;
    color: #e8e8e8;
    padding: 15px 20px;
    border: 1px solid #e8e8e8;
    transition: all 0.3s ease-out;
  }

  .nav-links-mobile-theme {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em auto;
    padding: 0px 20px;
    transition: all 0.3s ease-out;
    div {
      margin: 0 !important;
      font-size: 2em;
    }
  }

  .nav-links-mobile:hover {
    background: rgb(29, 29, 29);
    color: #fff;
    transition: 250ms;
  }
}
