.heroImage {
  width: 50%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.card1,
.card2,
.card3,
.card4,
.card5 {
  position: absolute;
  border-radius: 5px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  will-change: transform;
}

.card1 {
  width: 70ch;
  height: 70ch;
  bottom: 0ch;
  left: 0ch;
}

.card2 {
  width: 50ch;
  height: 50ch;
  bottom: 0ch;
  right: 0ch;
}

.card3 {
  width: 50ch;
  height: 50ch;
  top: 0ch;
  left: 0ch;
}

.card4 {
  width: 50ch;
  height: 50ch;
  top: 0ch;
  right: 0ch;
}

.card5 {
  width: 15ch;
  height: 30ch;
}
