.photoCard {
  width: 30ch;
  height: 30ch;
  border-radius: 10px;
  background-image: url("../../assets/me.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.5s;
  will-change: transform;
  border: 15px solid #994bff;
}

.photoCard:hover {
  box-shadow: 0px 30px 100px -10px rgba(0, 0, 0, 0.4);
}

@media screen and (max-width: 960px) {
  .photoCard {
    width: 25ch;
    height: 25ch;
  }
}

@media screen and (max-width: 500px) {
  .photoCard {
    width: 20ch;
    height: 20ch;
  }
}
