.skillContainer {
  margin-top: 10em;
  display: flex;
  flex-direction: column;
  padding: 3em;
  position: relative;

  .deepRed {
    position: absolute;
    z-index: -1;
    top: 35vh;
    right: -200px;
    filter: blur(200px) brightness(1.5);
  }

  .barney {
    position: absolute;
    z-index: -1;
    top: 35vh;
    left: -200px;
    filter: blur(200px) brightness(2);
  }

  .row {
    display: flex;
    flex-direction: row;
    padding: 1.2em 3em;
    justify-content: space-around;
    align-items: center;

    .skillCell {
      width: 6em;
      height: 6em;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: transparent !important;
    }

    i {
      font-size: 5em;
      color: black;
      transition: 0.3s ease-in-out;
      opacity: 0.75;
      background-color: transparent !important;
    }

    i:hover {
      font-size: 5.5em;
      opacity: 1;
    }

    .img {
      height: 5em;
      width: 5em;
      transition: 0.3s ease-in-out;
      opacity: 0.75;
    }

    .img:hover {
      height: 5.5em;
      width: 5.5em;
      opacity: 1;
    }

    .heading {
      font-size: 2em;
      padding: 1em 0;

      span {
        color: #4f05ff;
      }
    }
  }

  @media screen and (max-width: 960px) {
    .row {
      .skillCell {
        width: 5em;
        height: 5em;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      i {
        font-size: 4em;
      }
      i:hover {
        font-size: 4.5em;
        opacity: 1;
      }

      .img {
        height: 4em;
        width: 4em;
      }
      .img:hover {
        height: 4.5em;
        width: 4.5em;
      }
    }

    .deepRed {
      position: absolute;
      z-index: -1;
      top: 0vh;
      left: 0;
      filter: blur(200px) brightness(1.5);
      width: 90%;
      overflow: hidden;
    }
  
    .barney {
      position: absolute;
      z-index: -1;
      top: 50vh;
      left: 0;
      filter: blur(200px) brightness(2);
      width: 90%;
      overflow: hidden;
    }
  }

  @media screen and (max-width: 500px) {
    .row {
      padding: 1em;
      .skillCell {
        width: 3.5em;
        height: 3.5em;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      i {
        font-size: 2.5em;
      }
      i:hover {
        font-size: 3em;
        opacity: 1;
      }

      .img {
        height: 2.5em;
        width: 2.5em;
      }
      .img:hover {
        height: 3em;
        width: 3em;
      }
    }
  }
}

@media screen and (max-width: 660px) {
  .skillContainer {
    margin-top: 3em;
  }
}
