.skillContainer {
  margin-top: 10em;
  display: flex;
  flex-direction: column;
  padding: 3em;

  .row {
    display: flex;
    flex-direction: row;
    padding: 1.2em 3em;
    justify-content: space-around;
    align-items: center;

    i {
      font-size: 5em;
      color: black;
    }

    .img {
      height: 5em;
        width: 5em;
    }

    .heading{
        font-size: 2em;
        padding: 1em 0;
    }
  }

  @media screen and (max-width: 960px) {
    .row {
      i {
        font-size: 4em;
      }
    }

    .img {
      height: 4em;
        width: 4em;
    }
  }

  @media screen and (max-width: 500px) {
    .row {
      padding: 1em;

      i {
        font-size: 3em;
      }

      .img {
        height: 3em;
        width: 3em;
      }
    }
  }
}

@media screen and (max-width: 660px) {
  .skillContainer {
    margin-top: 3em;
  }
}
