.skillContainer {
  margin-top: 10em;
  display: flex;
  flex-direction: column;
  // border: 1px solid black;
  padding: 3em;

  .row {
    display: flex;
    flex-direction: row;
    padding: 1em 3em;
    justify-content: space-around;
    align-items: center;

    i {
      font-size: 5em;
    }
  }

  @media screen and (max-width: 960px) {
    .row {
      i {
        font-size: 4em;
      }
    }
  }

  @media screen and (max-width: 500px) {
    .row {
      padding: 1em;

      i {
        font-size: 3em;
      }
    }
  }
}
